<div
  class="wrapper d-flex justify-content-center align-items-center flex-column"
  style="height: 100vh"
>
  <form action="/register" method="post" class="card p-3 w-50">
    <h3>CREATE AN ACCOUNT</h3>
    <% if(error) {%>
    <p class="text-danger"><%= error %></p>
    <%}%>
    <input
      type="text"
      name="fullname"
      placeholder="full name"
      class="form-control name mt-2 p-3"
    />
    <input
      type="text"
      placeholder="username"
      name="username"
      class="form-control mt-2 p-3"
    />
    <input
      type="password"
      placeholder="password"
      name="password"
      class="form-control mt-2 p-3"
    />
    <input
      type="password"
      name="cpassword"
      placeholder="confirm password"
      class="form-control mt-2 p-3"
    />
    <button type="submit" class="btn btn-success mt-4 w-25">submit</button>
  </form>
  <a href="/login"> Already Have an account?</a>
</div>
